.button {
  margin: 0.5rem 0;
}

.button label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.button input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}

.button input:focus {
  outline: none;
  background: #fad0ec;
  border-color: #8b005d;
}
/* STYLE FOR INVALID */
.button.invalid input{
border-color:red;
background:rgb(240, 147, 147)
}
.button.invalid label{
  color:red;
}